/aviutl.lnk
/blender.lnk
/CurseForge.lnk
/desktop.ini
/Discord.lnk
/DiscordVoiveBot.lnk
/Docker Desktop.lnk
/JSplacement.lnk
/Microsoft Teams.lnk
/Sourcetree.lnk
/Tera Term 5.lnk
/原神.lnk
/新しいテキスト ドキュメント.txt